body{
    margin: 0px;
    font-family: 'Arial';
}

header{
    background-color: rgb(225, 179, 111);
    color: black;
    text-decoration: none;
    margin: 0px;
}

nav a{
    color: black; 
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

nav a:hover{
    text-decoration: underline;
}

nav{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

ul{
    float: right;
    /* margin: 10px; */
    display: flex;
    gap: 20px;
}

.circle{
    border-radius: 50%;
}

.column{
    width: 300px;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

h1{
    text-align: center;
    color: #9e5b09;
}

h2{
    text-align: center;
    color: #9e5b09;
}

h3{
    text-align: center;
    color: #9e5b09;
}

p{
    text-align: center;
}

.about{
    width: 500px;
    text-align: left;
    font-size: 18px;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.horiz{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.row{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

footer{
    background-color: #734001;
    color: white;
    margin: 0px;
}

.bold{
    color: #9e5b09;
}

html{
    scroll-behavior: smooth;
}

#github{
    background-color: white;
}

.row2{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.horiz2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.mobile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#menu{
    display: none;
}

.logo{
    margin: 20px;
}

@media (width <= 600px) {
    #menu{
        display: inline;
    }

    .logo{
        margin: 20px;
    }
    
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .row{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .horiz2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    .about{
        width: 350px;
        text-align: left;
        font-size: 16px;
    }
    h1{
        font-size: 30px;
    }

       /* Hamburger Menu Navigation */
.closed{
    display: none;
}

nav {
    display: flex;
    flex-direction: column; 
    background-color: rgb(225, 179, 111);
    gap: 10px;
    align-items: left;
    justify-content: flex-start;
    top: 54px;
}

nav a{
    color: black; 
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.open{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.horiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.center2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 140px;
}

.mobile{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

ul.horiz{
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
}

}