body{
    margin: 0px;
    font-family: 'Arial';
}

header{
    background-color: rgb(225, 179, 111);
    color: black;
    text-decoration: none;
    margin: 0px;
}

nav a{
    color: black; 
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

nav a:hover{
    text-decoration: underline;
}

nav{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

ul{
    float: right;
    /* margin: 10px; */
    display: flex;
    gap: 20px;
}

.circle{
    border-radius: 50%;
}

.column{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

h1{
    text-align: center;
    color: #9e5b09;
}

h2{
    text-align: center;
    color: darkslategrey;
}

h3{
    text-align: center;
    color: #9e5b09;
}

p{
    font-size: 18px;
    text-align: left;
    font-size: 16px;
    font-family: 'Arial';
}

.row2{
    display: flex;
    flex-direction: row;
    gap: 40px;
}


.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.horiz{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 20px;
}

.expand{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 50%;
}

.row{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

footer{
    background-color: #734001;
    color: white;
    margin: 0px;
}

.bold{
    color: #9e5b09;
}

html{
    scroll-behavior: smooth;
}

.email{
    background-image: url('../img/email\ iocn.png');
    width: 60px;
    height: 60px;
    background-size: cover;
}

.email:hover{
    background-image: url('../img/email\ iocn\ hover.png');
    width: 60px;
    height: 60px;
    background-size: cover;
}

.phone{
    background-image: url('../img/phone\ icon.png');
    width: 60px;
    height: 60px;
    background-size: cover;
}

.phone:hover{
    background-image: url('../img/phone\ icon\ hover.png');
    width: 60px;
    height: 60px;
    background-size: cover;
}

.linkedin{
    background-image: url('https://cdn-icons-png.freepik.com/256/10091/10091797.png?semt=ais_hybrid');
    width: 60px;
    height: 60px;
    background-size: cover;
}

.linkedin:hover{
    background-image: url('../img/linkedin\ hover\ state.png');
    width: 60px;
    height: 60px; 
    background-size: cover; 
}

.github{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYiBwe7URF5iyjMW20qp4IvMNvys8-tGb_-A&s');
    width: 60px;
    height: 60px;
    background-size: cover;
}

.github:hover{
    background-image: url('../img/github\ hover\ state.png');
    width: 60px;
    height: 60px;
    background-size: cover;
}


button{
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: #9e5b09;
    color: white;
    font-weight: bold; 
    border-radius: 10px;
    border-style: none; 
    font-size: 20px;
    width: 150px;
    height: 80px;
}

button:hover{
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: red;
    color: white;
    font-weight: bold; 
    border-radius: 8px;
    border-style: none; 
    font-size: 20px;
}

.flex{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.bold{
    color: #9e5b09;
}

.row2{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.horiz2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.mobile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.image{
    width: auto;
    height: 350px;
}

#menu{
    display: none;
}

.logo{
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 24px;
    margin-top: 30px; 
    /* border: 2px solid red; */
}

.about{
    width: 500px;
    text-align: left;
    font-size: 16px;
}

/* Medium-sized screen styles */
@media(width <= 1000px){

    .little{
        height: auto;
        width: 200px;
    }

    h1{
        text-align: center;
        color: #9e5b09;
        font-size: 36px;
    }   
    
    h2{
        text-align: center;
        color: #2f4f4f;
        font-size: 28px;
    }
    
}

/* Main mobile styles */
@media (width <= 860px) {
    button:hover{
        text-align: center;
        padding: 20px;
        margin: 20px;
        background-color: #9e5b09;
        color: white;
        font-weight: bold; 
        border-radius: 8px;
        border-style: none; 
        font-size: 20px;
    }

    .about{
        width: 350px;
        text-align: left;
        font-size: 16px;
    }

    .email:hover{
        background-image: url('../img/email\ iocn.png');
        width: 60px;
        height: 60px;
        background-size: cover;
    }

    .phone:hover{
        background-image: url('../img/phone\ icon.png');
        width: 60px;
        height: 60px;
        background-size: cover;
    }

    .linkedin:hover{
        background-image: url('https://cdn-icons-png.freepik.com/256/10091/10091797.png?semt=ais_hybrid');
        width: 60px;
        height: 60px;
        background-size: cover;
    }

    .github:hover{
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYiBwe7URF5iyjMW20qp4IvMNvys8-tGb_-A&s');
        width: 60px;
        height: 60px;
        background-size: cover;
    }
    
    h1{
        text-align: center;
        color: #9e5b09;
        font-size: 32px;
    }   
    
    h2{
        text-align: center;
        color: #2f4f4f;
        font-size: 24px;
    }

    .image{
        height: auto;
        width: 360px;
    }

    .expand{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 70%;
    }

    
    .flex{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .logo{
        padding-top: 0px;
        padding-bottom: 0px;
        margin: 24px;
        margin-top: 30px; 
        /* border: 2px solid red; */
    }

    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .row{
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    button{
        text-align: center;
        padding: 10px;
        margin: 20px;
        background-color: #9e5b09;
        color: white;
        font-weight: bold; 
        border-radius: 8px;
        border-style: none; 
        font-size: 20px;
    }

    /* Hamburger Menu Navigation */
.closed{
    display: none;
}

#menu{
    display: inline;
}



nav {
    display: flex;
    flex-direction: column; 
    background-color: rgb(225, 179, 111);
    gap: 10px;
    align-items: left;
    justify-content: flex-start;
    top: 54px;
}

nav a{
    color: black; 
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.open{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.horiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.center2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 140px;
    margin: 0 auto;
}

.mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

ul.horiz{
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
}

}

/* Logo and hamburger spacing on smaller phone */
@media (width <= 390px){
    .center2{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 140px;
        margin: 0 auto;
    }
}

/* Logo and hamburger spacing on smaller phone */
@media(width = 430px){
    .center2{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 200px;
        margin: 0 auto;
    }
}

